@media screen and (max-width:576px) {
    /* navbar responsive starts here */
    .nav-menus{
        display: none;
    }

    .nav-title{
        margin-left: 20px;
    }
    .nav-menu-bar{
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    /* navbar responsive ends here */

    /* main-banner responsive starts here */
    .main-banner-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;

    }
    .main-benner-contant button{
        display: flex;
    }
    .banner-title{
        font-size: 3rem;
        width: 300px;
        
    }
    .main-banner-image img{
        margin-left: 50px;
    }
    .banner-mini-card-1{
        position: absolute;
        left: 290px;
        top: 690px;
    }
    .banner-mini-card-2{
        left: 50px;
        top: 880px;
        
    }
     /* main-banner responsive ends here */

     /* habit section responsice starts here */
     .habit-images{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
     }
     /* habit section responsice ends here */
}