@media screen and (max-width:576px) {
    /* navbar responsive starts here */
    .nav-menus{
        display: none;
    }

    .nav-title{
        display: flex;
        align-items: center;
        font-size: 20px;
        /* border: 2px solid red; */
    }
    
    .nav-menu-bar{
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    .navbar{
        width: 100%;
    }
    /* navbar responsive ends here */

    /* main-banner responsive starts here */
    .main-banner-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .main-benner-contant button{
        display: flex;
    }
    .banner-title{
        font-size: 2.5rem;
        width: 300px;
        
    }
    .banner-description{
        font-size: 14px;
    }
    .main-banner-image img{
        width: 100%;
      
    }
    .banner-mini-card-1{
        position: absolute;
        left: 55%;
        top: 85%;
    }
    .banner-mini-card-2{
        left: 10%;
        top: 120%;
        
        
    }
    .join-btn{
        font-size: 18px;
        padding: 5px 15px;
    }
    .download-btn{
        font-size: 18px;
        padding: 5px 15px;
    }
     /* main-banner responsive ends here */

     /* habit section responsice starts here */
     .habit-images{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
     }
     /* habit section responsive ends here */

     /* run section responsive starts here */
     .run{
        flex-direction: column;
        max-width: 80%;
        height: 100%;
     }
     .run-contant{
        margin-top: 20px;
        max-width: 80%;
    }
    .run-title{
        font-size: 3rem;
    }
    .run-btn{ 
        text-align: center;
    }
    .run-btn button{ 
        width: 100%;
        padding: 10px 75px;
    }
    .run-image{
        max-width: 80%;
        margin-bottom: 20px;
    }
    .run-image img{
        max-width: 100%;
        border-radius: 20px;
        object-fit: fill;
    
    }
     /* run section responsive ends here */
    /* bmi chart  */
    .bmi-title{
        font-size: 2rem;
        font-weight: 900;
        color: white;
    }
     /* calculator BMI  */

     .flex{
        flex-direction: column;
        max-width: 80%;
        height: 100%;
        /* border: 2px solid red; */
     }
     .bmi-char{
        width: 100%;
     }
     th, td{
        font-size: 14px;
        padding: 20px;
     }
     .bmi-calculator{
        width: 100%;
        gap: 10px;
     }
     form{
        width: 100%;
     }
     input, select{
        width: 100%;
     }

     /* Team section  */
     .team{
        grid-template-columns: repeat(1, 1fr);
        /* border: 2px solid red; */
    }

    .trainer-1 {
        width: 100%;
    }
    .trainer-2 {
        width: 100%;
    }
    .trainer-3 {
        width: 100%;
    }
    .trainer-4 {
        width: 100%;
    }
    .trainer-5 {
        width: 100%;
    }
    .trainer-6 {
        width: 100%;
    }
    /* footer section  */
    .fitness-footer{
        flex-direction: column ;
    }

    .fitness-footer-title{
        width: 100%;
    }
    .get-start-1{
        width: 100%;
    }
    .get-start-2{
        width: 100%;
    }
    .copy-right{
        width: 100%;
    }
    .copy-right p{
        font-size: 10px;
        width: 100%;
    }

    .uniqe-section{
        flex-direction: column;
        width: 80%;
    }

    .unique-card-1{
        width: 100%;
    }
    .unique-card-2{
        width: 100%;
    }
    .unique-card-3{
        width: 100%;
    }
}