@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* default style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 5rem auto;

}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 1);
}

.banner {
    width: 100%;
    background: linear-gradient(to bottom, #000, rgba(255, 255, 255, 0.2), #000 100%);
    height: auto;
    /* border: 2px solid red; */
}
/* Navbar style start here */


.navbar{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 82%;
}
.nav-title{
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-style: italic;
    color: rgb(230, 83, 60);
    align-items: center;
    /* border: 2px solid red; */
}
.nav-menus{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 50px;
    width: 400px;
    padding: 5px;
    gap: 20px;
  
}
.nav-menu-bar{
    /* border: 2px solid red; */
    color: white;
    display: none;
}

#home{
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    padding: 10px;
    /* border: 2px solid red; */
}
.nav-btn{
    border: none;
    color: white;
    background: none;
    font-size: 1.25rem;
    cursor: pointer;
    
}
/* Navbar style End here */

/* main banner section start here */
.main-banner-container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    gap: 150px;
    max-width: 82%;
}
.main-banner-contant{
    max-width: 100%;
    /* border: 2px solid green; */
}
.banner-title{
    font-family: Inter;
    font-size: 5rem;
    font-weight: 900;
    width: 600px;
    color: white;
    margin-bottom: 30px;
    /* border: 2px solid green; */
}
#style-font{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
}
.banner-description{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.join-btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    
}

.download-btn{
    border: 1px solid gray;
    color: white;
    padding: 10px 30px ;
    border-radius: 50px;
    background: none;
    font-size: 20px ;
    font-weight: 600;
    cursor: pointer;
}
.main-banner-image img{
    max-width: 100%;
    position: relative;
    /* border: 2px solid blue; */
}
.banner-mini-card-1{
    background: rgba(255, 255, 255, 0.2);
    width: 180px;
    border: 2px solid rgba(255, 255, 255, 0.38);
    border-radius: 10px;
    padding: 10px 5px;
    position: absolute;
    top: 35% ;
    right: 5%;
    backdrop-filter: blur(4px);
}
.banner-mini-card-2{
    background: rgba(255, 255, 255, 0.2);
    width: 180px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px 5px;
    position: absolute;
    top: 60%;
    right: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(4px);

}

.elips{
    background-color: orangered;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.card{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.mini-card-title{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);

}

/* main banner section end here */

/* Habit section start here */
.habit {
    max-width: 1100px;
    height: 100%;
    /* border: 2px solid red; */
    
    
}
.habit-contant{
    margin-top: 30px;
    text-align: center;
   
}
.habit-contant h2{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.habit-contant p{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}
.habit-images{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.exracise-image{
    width: 200px;
    height: 300px;
    margin-bottom: 40px;
}
.exracise-image img{
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    
}
.exracise-image h5{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    text-align: center;
}
.exracise-image p{
    font-size: 16px;
    margin-top: 10px;
    color: white;
    text-align: center;
}
/* Habit section end here */

/* Run section starts here */
.run {
    max-width: 60%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.run-contant{
    /* border: 2px solid red; */
    max-width: 40%;
}
.run-title{
    font-size: 3.75rem;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.run-description{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
}
.run-btn button{
    background-color: rgb(230, 83, 60);
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.run-image {
    /* border: 2px solid red; */
    max-width: 40%;
}
.run-image img{
    max-width: 100%;
    border-radius: 20px;
    object-fit: none;
    object-position: 65% 28%;

}
/* Run section Ends here */

/* BMI calculator section starts here */

/* BMI calculator container start*/
.bmi {
    /* border: 2px solid red;
     */
    width: 670px;
    height: 120px;
    max-width: 80%;
    padding: 0px;
    line-height: normal;
    margin: 0 auto;
    text-align: justify;
}

.bmi-title{
    font-size: 3.12rem;
    font-weight: 900;
    color: white;
}

.bmi-description{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);

}

/* bmi char  */
.bmi-calculator-container{
    margin-top: 5rem;
    background: rgb(34, 34, 34);
    padding: 10px;
    /* border: 2px solid green; */

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    gap: 80px;
    /* border: 2px solid blue; */
}

.bmi-char{
    width: 40%;
    height: auto;
    /* border: 2px solid blue; */
}
.bmi-char h3{
    font-size:28px;
    color: #ffff;
   

}
table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    /* border: 2px solid green; */
}
tr, th, td{
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    
    
}

.bmi-calculator{
    width: 50%;
    height: auto;
    /* border: 2px solid green; */
}

.bmi-calculator h2{
    font-size:28px;
    font-weight: 700;
    line-height: normal;
    color: #ffff;
}

.bmi-calculator p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator-form{
    margin-top: 20px;
}

form{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 2px solid yellow; */
}

input, select{
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    padding: 20px 0px ;
    padding-left: 10px;
    width: auto;
}
::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}
#select-2 {
    grid-column: span 2;
}

.calculate-btn{
    margin-top: 20px;
}

/* BMI calculator section ends here */

/* meet team section  */

.meet-contant{
    margin-top: 30px;
    text-align: center;
}

.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    
}

.trainer {
    width: 60%;
    background-repeat: no-repeat;
    padding: 9rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
    /* border: 2px solid red; */
}

.trainer-1{
    background-image: url(../images/trainer1.png);
}

.trainer-contant{
    position: absolute;
    top: 70%;
    right: 55%;
}

.trainer-contant h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant p{
    color:rgba(255, 255, 255, 0.7);
}

.trainer-2{
    background-image: url(../images/trainer2.png);
}
.trainer-contant-2{
    position: absolute;
    top: 75%;
    right: 40%;
}
.trainer-contant-2 h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant-2 p{
    color:rgba(255, 255, 255, 0.7);
}

.trainer-3{
    background-image: url(../images/trainer3.png);
}
.trainer-contant-3{
    position: absolute;
    top: 65%;
    right: 45%;
}
.trainer-contant-3 h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant-3 p{
    color:rgba(255, 255, 255, 0.7);
}
.trainer-4{
    background-image: url(../images/trainer4.png);
}
.trainer-contant-4{
    position: absolute;
    top: 75%;
    right: 45%;
}
.trainer-contant-4 h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant-4 p{
    color:rgba(255, 255, 255, 0.7);
}
.trainer-5{
    background-image: url(../images/trainer5.png);
}

.trainer-contant-5{
    position: absolute;
    top: 75%;
    right: 55%;
}
.trainer-contant-5 h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant-5 p{
    color:rgba(255, 255, 255, 0.7);
}
.trainer-6{
    background-image: url(../images/trainer6.png);
}

.trainer-contant-6{
    position: absolute;
    top: 75%;
    right: 48%;
}

.trainer-contant-6 h3{
    color:#ffff;
    font-size: 20px;
    font-weight: 700;
}
.trainer-contant-6 p{
    color:rgba(255, 255, 255, 0.7);
}

/* footer section  */
footer {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}

.fitness-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 65%;
}

.fitness-footer-title{
    width: 30%;
    margin: 2% 0;
    /* border: 2px solid blue; */
}
.fitness-footer-title h2{
    margin: 2% 0;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.fitness-footer-title p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.get-start-1{
    width: 30%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    line-height: 30px;


}

.get-start{
    margin-top: 4%;
}
.get-start h3{
    font-size: 25px;
    font-weight: 900;
    color: #ffff;
}

.get-start a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}
.get-start-2{
    width: 30%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
hr{
    width: 62%;
    margin: 0 auto;
}
.copy-right{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    
}
.copy-right p{
    /* border: 2px solid blue; */
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.uniqe-section{
    background: rgba(255, 255, 255, 0.2);
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5%;
    gap: 20px;
}

.uniqe-section img{
    width: 50%;
    height: auto;
}

.unique-card-1{
    width: 30%;
    height: auto;
    background-color: aqua;
    text-align: center;
    border-radius: 15px;    
}
.unique-style{
    padding: 30px;
}
.unique-style:hover{
    background-color: green;
    padding: 5%;
}
.unique-card-2{
    width: 30%;
    height: auto;
    background-color: aqua;
    text-align: center;
    border-radius: 15px;

}
.unique-card-3{
    width: 30%;
    height: auto;
    background-color: aqua;
    text-align: center;
    border-radius: 15px;

}
.unique-btn{
    margin-top: 10px;
    background-color: red;
    color: aqua;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}
